<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>index</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>
<body>
    <div class="panel panel-primary">
        <div class="panel-heading">hello</div>
        <div class="panel-body" th:text="${xname}"></div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">hello</div>
        <div id="usernamediv" class="panel-body"></div>
    </div>

</body>
</html>